<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.videoplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="StreamIT"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoPlayer"

        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.AboutUs"
            android:exported="false" />
        <activity
            android:name=".activities.AudioPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AudioFilesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.stream_home"
            android:exported="false" />
        <activity
            android:name=".activities.stream"
            android:exported="false" />
        <activity
            android:name=".activities.audio_home"
            android:exported="false" />
        <activity
            android:name=".activities.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection|screenLayout|smallestScreenSize|keyboardHidden|uiMode"
            android:excludeFromRecents="true"
            android:exported="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            tools:targetApi="n" />
        <activity
            android:name=".activities.VideoFilesActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.AllowAccessActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>